In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")

In [3]:
train["month"].unique()

array([ 8,  5,  9,  1,  7,  2, 11, 10,  3,  6,  4, 12])

In [4]:
len(train["month"].unique())

12

In [5]:
train.columns

Index(['day', 'energy_sum', 'temperatureMin', 'temperatureMax', 'uvIndex',
       'dewPoint', 'Type', 'month'],
      dtype='object')

In [8]:
train.describe()

,energy_sum,temperatureMin,temperatureMax,uvIndex,dewPoint,month
count,1.499994e+06,1.479749e+06,1.479749e+06,1.479749e+06,1.479749e+06,1.500000e+06
mean,1.008418e+01,7.647354e+00,1.397518e+01,2.690789e+00,6.473584e+00,6.457207e+00
std,9.163867e+00,5.373244e+00,7.082641e+00,1.817016e+00,5.491731e+00,3.432789e+00
min,0.000000e+00,-3.860000e+00,-6.000000e-02,0.000000e+00,-5.540000e+00,1.000000e+00
25%,4.654000e+00,2.860000e+00,8.610000e+00,1.000000e+00,2.220000e+00,3.000000e+00
50%,7.779000e+00,7.650000e+00,1.364000e+01,2.000000e+00,6.830000e+00,6.000000e+00
75%,1.247000e+01,1.216000e+01,1.935000e+01,4.000000e+00,1.067000e+01,9.000000e+00
max,3.216970e+02,1.929000e+01,3.240000e+01,7.000000e+00,1.761000e+01,1.200000e+01