In [29]:
from db.duckdb.duckdbhelper import DuckDBDatabaseHelper
from pprint import pprint
import pandas as pd

In [30]:
NUM_ROWS = 500000

In [31]:
db = DuckDBDatabaseHelper("meters.db")

In [32]:
sql_query ="""

SELECT day,energy_sum, 
temperatureMin, 
temperatureMax,
uvIndex,
dewPoint,                  
Type
FROM  meters m LEFT JOIN info_household ih
ON m.LCLid = ih.LCLid
LEFT JOIN weather_daily_darksky_modified wd
ON m.day = wd.formatted_temperatureMaxTime_weather_daily_darksky
LEFT JOIN uk_bank_holidays uk_bh
ON m.day = uk_bh."Bank holidays"

WHERE date_part('year', day) = 2014

"""

db.connect()
records = db.fetch_all(sql_query)
db.close_connection()

Connected to DuckDB database: meters.db
Fetched 298099 rows.
Connection closed.

In [33]:
records[:5]

[(datetime.date(2014, 1, 2), 14.195000000000004, 6.54, 10.75, 1.0, 6.02, None),
 (datetime.date(2014, 1, 3), 11.382000000000003, 7.01, 10.49, 1.0, 5.08, None),
 (datetime.date(2014, 1, 6), 14.302, 9.34, 12.57, 1.0, 7.64, None),
 (datetime.date(2014, 1, 7), 16.492, 8.98, 11.38, 1.0, 6.63, None),
 (datetime.date(2014, 1, 8), 13.079000000000002, 7.37, 11.62, 1.0, 7.02, None)]

In [34]:
COLS = [
"day","energy_sum", 
"temperatureMin", 
"temperatureMax",
"uvIndex",
"dewPoint",                  
"Type" ]

In [35]:
df_model = pd.DataFrame(records,columns = COLS)

In [36]:
df_model.head()

,day,energy_sum,temperatureMin,temperatureMax,uvIndex,dewPoint,Type
0,2014-01-02,14.195,6.54,10.75,1.0,6.02,None
1,2014-01-03,11.382,7.01,10.49,1.0,5.08,None
2,2014-01-06,14.302,9.34,12.57,1.0,7.64,None
3,2014-01-07,16.492,8.98,11.38,1.0,6.63,None
4,2014-01-08,13.079,7.37,11.62,1.0,7.02,None

In [37]:
df_model_sample = df_model

In [38]:
df_model_sample.to_csv("test.csv",index = False)